.row {
    display: block;
    width: 100%;

    @for $col from 1 through 12 {
        .column-#{$col} {
            width: calc((1/#{$col}) * 100%);
            float: left;
            padding: 0px 20px;

            @media screen and(max-width: $mobile-breakpoint) {
                width: 100%;
            }
        }
    }

    &::after {
        clear: both;
    }
}

@for $margin from 1 through 10 {
    .margin-top-#{$margin} {
        margin-top: #{$margin}rem;
    }
}

@media screen and(max-width: $mobile-breakpoint) {
    @for $margin from 1 through 10 {
        .margin-top-md-#{$margin} {
            margin-top: #{$margin}rem !important;
        }
    }
}